# Strings and Dictionaries

## String syntax

In [1]:
x = 'Pluto is a planet'

In [2]:
y = "Pluto is a planet"

In [3]:
x == y

True

In [4]:
print("Pluto's a planet!")

Pluto's a planet!

In [5]:
print('My dog is named "Pluto"')

My dog is named "Pluto"

In [6]:
print('Pluto\'s a planet!')

Pluto's a planet!

In [7]:
triplequoted_hello = """hello
world"""

In [8]:
print(triplequoted_hello)

hello
world

In [10]:
hello = "hello\nworld"

In [11]:
print(hello)

hello
world

In [12]:
triplequoted_hello == hello

True

In [19]:
print("hello")
print("world")

hello
world

In [18]:
print("hello", end='')
print("pluto", end='')

hellopluto

## Strings are sequences

In [20]:
planet = 'Pluto'

In [21]:
planet[0]

'P'

In [22]:
planet[-3:]

'uto'

In [23]:
len(planet)

5

In [25]:
[char + '! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

## String methods

In [26]:
claim = "Pluto is a planet!"

In [28]:
claim.upper()

'PLUTO IS A PLANET!'

In [29]:
claim

'Pluto is a planet!'

In [30]:
claim.lower()

'pluto is a planet!'

In [31]:
claim.index('plan')

11

In [32]:
claim.startswith(planet)

True

In [38]:
claim.endswith('dwarf planet')

False

In [39]:
words = claim.split()

In [40]:
words

['Pluto', 'is', 'a', 'planet!']

In [41]:
datestr = '1956-01-31'

In [42]:
year, month, day = datestr.split('-')

In [43]:
year

'1956'

In [44]:
month

'01'

In [45]:
day

'31'

In [46]:
'/'.join([month, day, year])

'01/31/1956'

In [48]:
'/'.join([month, day, year, ' <3'])

'01/31/1956/ <3'

In [49]:
' ðŸ‘ '.join([word.upper() for word in words])

'PLUTO ðŸ‘ IS ðŸ‘ A ðŸ‘ PLANET!'

In [50]:
women = 'We can do it!'

In [83]:
' ðŸ’œ'.join([we.upper() for we in women])

'W ðŸ’œE ðŸ’œ  ðŸ’œC ðŸ’œA ðŸ’œN ðŸ’œ  ðŸ’œD ðŸ’œO ðŸ’œ  ðŸ’œI ðŸ’œT ðŸ’œ!'

In [59]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [60]:
position = 9

In [61]:
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [62]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [65]:
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')

In [66]:
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

## Dictionaries

In [67]:
numbers = {'one':1, 'two':2, 'three':3}

In [68]:
numbers['one']

1

In [69]:
numbers['eleven'] = 11

In [70]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [71]:
numbers['one'] = 'Pluto'

In [72]:
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [73]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [74]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [75]:
planet_to_initial = {planet: planet[0] for planet in planets}

In [76]:
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [77]:
'Saturn' in planet_to_initial

True

In [78]:
'Betelgeuse' in planet_to_initial

False

In [79]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [80]:
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [81]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"